@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');




body{
    background-color: white;
    text-align: justify;
    font-family: "Possion One", sans-serif;
    font-weight: normal;
}
#container {
    border: 2px solid black;
    height: auto;

}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

}
h1 {
    font-variant: small-caps;
    font-family: "Possion One";
    font-weight: 900;
    font-size: 5vw;
}
article {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh

}
article.conteudo {
    line-height: 1.9em;
}
article.conteudo2 {
    background-image: url(imagens/background001.jpg);
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: rgb(68, 65, 65);
    color: white;
    line-height: 1.9em;
    box-shadow: 1px 1px 10px black;
    
}
article.conteudo2 > p {
    background-color: rgba(0, 0, 0, 0.39);
    display: inline-block;
    border-radius: 6px;
    padding: 7px;
}
footer {
    text-align: center;
    padding: 1px;
    color: white;
    background-color: black;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}